# Docker ignore file
**/bin
**/obj
**/out
**/.vs
**/.vscode
**/.git
**/.gitignore
**/README.md
**/Dockerfile*
**/docker-compose*
**/.dockerignore
**/node_modules
**/npm-debug.log
**/coverage
**/.nyc_output
**/appsettings.*.json
!**/appsettings.Production.json
